.footer{
    margin: 5rem 20rem 3rem;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    img{
        border-radius: 50%;
        height: 4rem;
    }

    .footer-bottom-left{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    
    .footer-bottom-right{
        display: flex;
        gap: 1.5rem;

        img{
            height: 1.5rem;
        }
    }
}

@media(max-width: 768px){
    .footer{
        margin: 3rem 5rem;
        
        }
    .footer-bottom{
            img{
                height: 3rem;
            }
        }
    .footer-bottom-left{
        gap: 1rem;
    }
    .footer-bottom-right{
        gap: 1rem;
        img{
            height: 1.3rem;
        }
    }
}