.footer{
    margin: 5rem 20rem 3rem;
}



.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    img{
        border-radius: 50%;
        height: 4rem;
    }

    .footer-bottom-left{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    .footer-bottom-right{
        display: flex;
        gap: 2rem;

        img{
            height: 1.5rem;
        }
    }
}